<div class="container mt-5">
  <div class="card mx-auto" style="max-width: 600px;">
    <div class="card-body text-center">
      <div class="mb-3 text-center">
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.get_profile_image, class: "rounded-circle mb-3", width: 150, height: 150 %>
      <% else %>
        <%= image_tag "no_image.jpg", class: "rounded-circle mb-3", width: 150, height: 150 %>
      <% end %>
      </div>

      <h5 class="text-muted mb-0">Name</h5>
      <h4 class="card-title"><%= @user.name %></h4>
      
      <% if @user == current_user %>
        <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary mt-3' %>
        <%= link_to "View My Posts", user_post_blogs_path(@user), class: 'btn btn-primary mt-3' %>
      <% else %>
        <%= link_to "View #{@user.name}'s Posts", user_post_blogs_path(@user), class: 'btn btn-primary mt-3' %>
      <% end %>
    </div>
  </div>
</div>