<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <div class="container mt-4">
      <% if admin_signed_in? %>
        <%= link_to "log out", destroy_admin_session_path, method: :delete, class: "btn btn-danger float-right mb-3" %>
      </li>

      <h1>Admin Dashboard</h1>
      <p>Manage users, posts, and comments.</p>

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to "Users", admin_users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Posts", admin_post_blogs_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Comments", admin_post_comments_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </body>
  <% end %>
</html>